/* Mobile */

@media (min-width: 0px) and (max-width: 765px) {
    .section {
        margin-top: 5vh;
    }

    .custom-center-dekstop{
        display: initial;
      }

    .disable-in-mobile{
        display: none;
    }

    .navbarMenu {
        padding: 0 20px;
    }

    .linkMenuMobile ul li{
        font-size: 20px;
      }

    .logoMenu h5 {
        font-size: 16px;
    }

    .leftSideHeader h1 {
        margin-top: 5vh;
        font-size: 20px;
        width: 100%;
    }

    .leftSideHeader h5 {
        font-weight: 300;
        margin-top: 14px;
        font-size: 15px;
    }

    .wrapperInputType {
        width: 100%;
        padding: 7px 14px;
    }
    
    .wrapperInputType label {
        font-size: 12px;
    }
    
    .wrapperInputType input {
        padding: 12px;
    }
    
    .wrapperInputType button {
        padding: 7px 40px;
        font-size: 12px;
    }

    .dekstop {
        display: none;
    }
      
    .mobile{
        display: block;
        width: 100%;
    }

    .rightSideHeader {
        margin-top: 10vh;
    }

    .mobile .rightSideHeader .cardVidio {
        width: 100%;
        height: 200px;
        border-radius: 14px;
      }

    .cardVidio #Vidio {
        width: auto;
        height: auto;
    }

    .rightSectionTwo h3 {
        font-size: 20px;
    }
          
    .wrapperImpostanContent::after {
        content: "";
        position: absolute;
        right: -50%;
        top: 40%;
        width: 100%;
        height: 40px;
        transform: rotate(-60deg);
        border-top: 1.5px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        z-index: 2;
    }
    
    .wrapperImpostanContent h4 {
        font-size: 16px;
        padding: 10px 25px;
    }

    .footerSectionTwo h5 {
        font-size: 16px;
    }

    .RightSectionThree .fa-creative-commons-sampling-plus {
        font-size: 50px;
        color: var(--green);
    }

    .wrapperRightSectionThree {
        margin: 0;
        margin-bottom: 21px;
        display: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .RightSectionThree h1 {
        color: var(--green);
        width: 100%;
        margin-left: 14px;
        margin-top: 5px;
        font-size: 20px;
    }

    .cardFasilitas {
        width: 220px;
    }
      
    .imgTopFasilitas img {
        width: 220px;
    }
    
    .contentFasilitas {
        padding: 0 15px;
    }
    
    .contentFasilitas h4 {
        font-size: 18px;
    }
    
    .contentFasilitas p {
        font-size: 12px;
        line-height: 22px;
    }
    
    .btn-Fasilitas {
        font-size: 12px;
    }

    .RightSectionFour h4 {
        font-size: 22px;
    }

    .sectionFourEdited-circle{
        display: none;
    }

    .sectionFourEdited{
        padding-top: 5vh;
    }

    #sectionFourEdited-margin{
        margin: 0;
    }

    .LeftSectionFour {
        display: none;
    }

    .slideDownSectionFour p {
        margin: 5px;
        font-size: 11px;
        padding: 1px 15px;
        border-radius: 20px;
      }

    .headerSectionFive h1{
        font-size: 20px;
    }

    .contentSectionFive{
        overflow-y: scroll;
        margin-bottom: 14px;
    }

    .contentSectionFive::-webkit-scrollbar {
        height: 2px;
    }
    
    .contentSectionFive::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }
    
    .contentSectionFive::-webkit-scrollbar-thumb {
        background: var(--green);
        border-radius: 10px;
    }

    .contentSectionFive ul {
        justify-content: unset;
        flex-direction: unset;
        margin-bottom: 0;
    }

    .contentSectionFive ul li {
        padding: 0px 14px;
        border-radius: 20px;
        font-size: 14px;
      }

    .WrapperDokter{
        height: auto;
        overflow-y: scroll;
    }
      
    .imgInfoDokter img {
        width: 65px;
        height: 65px;
    }

    .BiodataDokter {
        top: 65%;
      }
      
    .BiodataDokter h5,
    .BiodataDokter p {
        margin-left: 10px;
    }
    
    .BiodataDokter h5 {
        font-size: 16px;
    }
    
    .BiodataDokter p {
        font-size: 12px;
    }

    .cardSectionSix {
        padding: 20px;
      }
      
    .cardSectionSix h1 {
        font-size: 20px;
    }
    
    .cardSectionSix h5 {
        font-size: 12px;
        line-height: 22px;
    }

    .btnSectionSix{
        justify-content: start;
    }
    
    .btnSectionSix button {
        font-size: 12px;
        margin-top: 14px;
        padding: 10px 15px;
    }

    .headerSectionSeven h1{
        font-size: 20px;
    }

    .gmaps iframe{
        margin-top: 14px;
        height: 200px;
    }

    .ValueKlinik h5 {
        font-size: 18px;
    }
      
    .flexFaviable i,
    .flexFaviable div {
        font-size: 14px;
        margin-right: 15px;
    }

    .linkMenu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .linkMenu ul {
        display: none;
    }

    .linkMenu i.fa-solid.fa-bars {
        display: block;
        font-size: 16px;
    }
    
    .footer h1 {
        margin: 20px 0;
        font-size: 20px;
    }
    
    .wrapper-footer label {
        font-size: 12px;
    }
    
    .info-restaurant-footer h5 {
        font-weight: 300;
        font-size: 12px;
    }
    
    .wrapper-footer .wrapper-icon {
        width: 40px;
        height: 40px;
    }
    
    .wrapper-footer .wrapper-icon .icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    
    .wrapper-footer .wrapper-icon .icon i {
        font-size: 18px;
        line-height: 40px;
    }
    
    .wrapper-footer .wrapper-icon:hover {
        width: 150px;
    }
      
}

/* Tab */
  
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section {
        margin-top: 7vh;
    }

    .leftSideHeader h1 {
        margin-top: 5vh;
        font-size: 30px;
        width: 100%;
    }

    .leftSideHeader h5 {
        font-weight: 300;
        margin-top: 14px;
    }

    .wrapperInputType {
        width: 100%;
    }

    .dekstop {
        display: none;
    }
      
    .mobile{
        display: block;
        width: 100%;
    }

    .rightSideHeader {
        margin-top: 10vh;
    }

    .mobile .rightSideHeader .cardVidio {
        width: 100%;
        height: 300px;
        border-radius: 14px;
      }

    .cardVidio #Vidio {
        width: 100%;
        height: auto;
    }

    .wrapperRightSectionThree {
        margin: 0;
        margin-bottom: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .RightSectionThree .fa-creative-commons-sampling-plus {
        font-size: 60px;
        color: var(--green);
    }
      
    .RightSectionThree h1 {
        color: var(--green);
        width: 100%;
        margin-left: 14px;
        margin-top: 5px;
        font-size: 30px;
    }

    .RightSectionFour h4 {
        font-size: 22px;
        width: 85%;
    }

    #sectionFourEdited-margin{
        margin-top: 0;
    }

    .sectionFourEdited{
        overflow: hidden; 
        padding: 7vh 0;
    }

    .sectionFourEdited-circle{
        transform:translateX(-3vw)
    }

    #sectionFour{
        margin: 0;
    }

    .LeftSectionFour {
        width: 500px;
        height: 500px;
      }
      
    .LeftSectionFour::before {
        font-size: 30px;
        width: 50%;
        height: 50%;
    }


    .iconKimia,
    .iconMedkit {
        width: 80px;
        height: 80px;
    }

    .iconKimia i,
    .iconMedkit i,
    .iconOrang i,
    .iconHati i,
    .iconDetakJantung i,
    .iconSuntikan i,
    .iconVirus i {
        width: 70px;
        height: 70px;
        font-size: 30px;
    }

    .iconOrang {
        width: 35px;
        height: 35px;
    }

    .iconVirus {
        width: 55px;
        height: 55px;
    }

    .iconHati {
        width: 35px;
        height: 35px;
    }

    .iconDetakJantung,
    .iconSuntikan {
        width: 85px;
        height: 85px;
    }

    .iconSuntikan {
        width: 55px;
        height: 55px;
    }

    .iconOrang i {
        width: 30px;
        height: 30px;
        font-size: 14px;
      }
      
    .iconSuntikan i,
    .iconVirus i {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
    
    .iconHati i {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    
    .iconDetakJantung i {
        width: 75px;
        height: 75px;
        font-size: 30px;
    }

    .contentSectionFive ul {
        justify-content: unset;
        flex-direction: unset;
    }

    .contentSectionFive ul li {
        padding: 7px 14px;
        border-radius: 20px;
        font-size: 16px;
      }

    .WrapperDokter{
        height: auto;
        overflow-y: scroll;
    }
      
    .imgInfoDokter img {
        width: 70px;
        height: 70px;
    }

    .BiodataDokter {
        top: 65%;
      }
      
    .BiodataDokter h5,
    .BiodataDokter p {
        margin-left: 10px;
    }
    
    .BiodataDokter h5 {
        font-size: 16px;
    }
    
    .BiodataDokter p {
        font-size: 12px;
    }

    .cardSectionSix {
        padding: 20px;
      }
      
    .cardSectionSix h1 {
        font-size: 30px;
    }
    
    .cardSectionSix h5 {
        font-size: 14px;
    }

    .btnSectionSix{
        justify-content: start;
    }
    
    .btnSectionSix button {
        font-size: 14px;
        margin-top: 14px;
    }

    .gmaps iframe{
        margin-top: 14px;
        height: 300px;
    }

    .ValueKlinik h5 {
        font-size: 18px;
    }
      
    .flexFaviable i,
    .flexFaviable div {
        font-size: 14px;
        margin-right: 15px;
    }

    .linkMenu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .linkMenu ul {
        display: none;
    }

    .linkMenu i.fa-solid.fa-bars {
        display: block;
        font-size: 16px;
    }
}

/* Gaya khusus untuk layar desktop dengan lebar lebih dari 1024 piksel */

@media only screen and (min-width: 1440px) {
    
}